{{#if isMobile}}
  <div class="unsupported-agent">
    <p>Sorry!</p>
    <p>The Affinity Engine does not yet support mobile devices.</p>
    <p>Check our Road to 1.0 section for the latest updates.</p>
  </div>
{{else}}
  {{#affinity-engine engineId=scene config=config fixtures=fixtures isFocused=isFocused as |engine|}}
    {{#if engine.isLoaded}}
      {{affinity-engine-stage engineId=engine.engineId initialScene=scene}}
      {{yield}}
    {{else}}
      {{#affinity-engine-curtain engineId=engine.engineId filesToPreload=(hash keyframes="src") as |curtain|}}
        <div class="engine-title">{{curtain.title}}</div>
        {{ember-progress-bar
          progress=curtain.progress
          useDefaultStep=true
          options=progressBarOptions
        }}
      {{/affinity-engine-curtain}}
    {{/if}}
  {{/affinity-engine}}
{{/if}}
