{{#affinity-engine engineId=scene fixtures=fixtures isFocused=isFocused as |engine|}}
  {{#if engine.isLoaded}}
    {{affinity-engine-stage engineId=engine.engineId initialScene=scene}}
    {{yield engine=engine}}
  {{else}}
    {{#affinity-engine-curtain engineId=engine.engineId filesToPreload=(hash keyframes="src") completePreload=engine.completePreload as |curtain|}}
      <h1 data-test={{hook "title"}}>{{curtain.title}}</h1>

      <div data-test={{hook "progress"}}>{{curtain.progress}}</div>
    {{/affinity-engine-curtain}}
  {{/if}}
{{/affinity-engine}}
