<div class="hide-for-medium">
  {{#liquid-if isExpanded}}
    {{yield}}
  {{/liquid-if}}
  <a class="button expanded small-margin-bottom-0" {{action "toggleIsExpanded"}}>{{title}}
    {{#if isExpanded}}
      <i class="fa fa-caret-up"></i>
    {{else}}
      <i class="fa fa-caret-down"></i>
    {{/if}}
  </a>
</div>

<div class="show-for-medium">
  {{yield}}
</div>
