<li>
  {{#if previous.route}}
    {{#link-to previous.route}}{{previous.arrow}} {{previous.name}}{{/link-to}}
  {{else}}
    <a class="section-navigator-blank left">—</a>
  {{/if}}
</li>

<li class="text-align-right">
  {{#if next.route}}
    {{#link-to next.route}}{{next.name}} {{next.arrow}}{{/link-to}}
  {{else}}
    <a class="section-navigator-blank right">—</a>
  {{/if}}
</li>
