<h4>{{{m "application.guides.engine.usage.arguments.usingArguments.header"}}}</h4>
{{{m "application.guides.engine.usage.arguments.usingArguments.intro"}}}
{{format-markdown '```hbs
{{#affinity-engine engineId="myEngine" isFocused=true}}
{{/affinity-engine}}
```'}}
{{{m "application.guides.engine.usage.arguments.usingArguments.explaination"}}}
{{{m "application.guides.engine.usage.arguments.usingArguments.list"}}}

<h4>{{{m "application.guides.engine.usage.arguments.engineId.header"}}}</h4>
{{{m "application.guides.engine.usage.arguments.engineId.multipleEngines"}}}
{{{m "application.guides.engine.usage.arguments.engineId.needForAnIdentifier"}}}
{{{m "application.guides.engine.usage.arguments.engineId.exampleIntro"}}}
{{format-markdown '```hbs
{{#affinity-engine engineId="myEngine"}}
{{/affinity-engine}}
```'}}
{{{m "application.guides.engine.usage.arguments.engineId.advancedUsage"}}}

<h4>{{{m "application.guides.engine.usage.arguments.isFocused.header"}}}</h4>
{{{m "application.guides.engine.usage.arguments.isFocused.intro"}}}
{{{m "application.guides.engine.usage.arguments.isFocused.exampleIntro"}}}
{{format-markdown '```hbs
{{#affinity-engine isFocused=true}}
{{/affinity-engine}}
```'}}

<hr>

{{section-navigator level=2}}
