<h4>{{{m "application.guides.engine.usage.blockParams.usingBlockComponents.header"}}}</h4>
{{{m "application.guides.engine.usage.blockParams.usingBlockComponents.htmlExample"}}}
{{format-markdown '```hbs
{{#affinity-engine}}
  <p>Hello world!</p>
{{/affinity-engine}}
```'}}
{{{m "application.guides.engine.usage.blockParams.usingBlockComponents.moduleExample"}}}
{{format-markdown '```hbs
{{#affinity-engine as |engine|}}
  {{affinity-engine-stage engineId=engine.engineId}}
{{/affinity-engine}}
```'}}
{{{m "application.guides.engine.usage.blockParams.usingBlockComponents.params"}}}

<h4>{{{m "application.guides.engine.usage.blockParams.engineId.header"}}}</h4>
{{{m "application.guides.engine.usage.blockParams.engineId.info"}}}
{{format-markdown '```hbs
{{#affinity-engine engineId="myEngine" as |engine|}}
  {{affinity-engine-stage engineId=engine.engineId}}
{{/affinity-engine}}
```'}}

<h4>{{{m "application.guides.engine.usage.blockParams.preloading.header"}}}</h4>
{{{m "application.guides.engine.usage.blockParams.preloading.intro"}}}
{{format-markdown '```hbs
{{#affinity-engine as |engine|}}
  {{#if engine.isLoaded}}
    <p>The game is loaded!</p>
  {{else}}
    {{affinity-engine-curtain completePreload=engine.completePreload}}
  {{/if}}
{{/affinity-engine}}
```'}}
{{{m "application.guides.engine.usage.blockParams.preloading.attributes"}}}

<hr>

{{section-navigator level=2}}
