<aside class="aside">
  {{{m "application.guides.engine.usage.templates.sidebarHeader"}}}
  {{{m "application.guides.engine.usage.templates.sidebarContent"}}}
</aside>

<h4>{{{m "application.guides.engine.usage.templates.routesHeader"}}}</h4>
{{{m "application.guides.engine.usage.templates.routesIntro"}}}
{{{m "application.guides.engine.usage.templates.routesMore"}}}

<h4>{{{m "application.guides.engine.usage.templates.templatesHeader"}}}</h4>
{{{m "application.guides.engine.usage.templates.templates"}}}

<hr>

<h4>{{{m "application.guides.engine.usage.templates.simpleHeader"}}}</h4>
{{{m "application.guides.engine.usage.templates.simpleIntro"}}}

{{format-markdown "```hbs
{{#affinity-engine}}
{{/affinity-engine}}
```"}}

{{{m "application.guides.engine.usage.templates.simpleConclusion"}}}

<hr>

{{section-navigator level=2}}
