<div class="column small-12 medium-8 small-padding-left-0">
  {{{m "application.guides.engine.configuration.index.intro"}}}
  {{{m "application.guides.engine.configuration.index.defaultsSummary"}}}
  {{{m "application.guides.engine.configuration.index.configurationTiersSummary"}}}
  {{{m "application.guides.engine.configuration.index.setupSummary"}}}
</div>

<aside class="column small-12 medium-4 aside">
  {{{m "application.guides.engine.configuration.index.whatIsConfigurableHeader"}}}
  {{{m "application.guides.engine.configuration.index.whatIsConfigurable"}}}
</aside>

<hr>

{{section-navigator level=2}}
