<section>
  <h4>{{{m "application.guides.engine.installation.affinityEngine.handPickingModulesHeader"}}}</h4>
  {{{m "application.guides.engine.installation.affinityEngine.emberInstallAffinityEngine"}}}
  {{{m "application.guides.engine.installation.affinityEngine.handPickingModules"}}}
</section>

<section>
  <h4>{{{m "application.guides.engine.installation.affinityEngine.bundlesHeader"}}}</h4>
  {{{m "application.guides.engine.installation.affinityEngine.bundles"}}}
</section>

<hr>

{{section-navigator level=2}}
