<h3>{{#link-to "engine.installation.ember"}}{{t "application.routes.emberSetup"}}{{/link-to}}</h3>

<section>
  <h4>{{{m "application.guides.engine.installation.ember.npmHeader"}}}</h4>
  {{{m "application.guides.engine.installation.ember.npmOverview"}}}
  {{{m "application.guides.engine.installation.ember.npmNvm"}}}
  {{{m "application.guides.engine.installation.ember.npmInstall"}}}
</section>

<section>
  <h4>{{{m "application.guides.engine.installation.ember.remainingDependenciesHeader"}}}</h4>
  {{{m "application.guides.engine.installation.ember.git"}}}
  {{{m "application.guides.engine.installation.ember.bower"}}}
  {{{m "application.guides.engine.installation.ember.emberCLI"}}}
</section>

<section>
  <h4>{{{m "application.guides.engine.installation.ember.emberHeader"}}}</h4>
  <div class="column small-12 medium-8 padding-left-0">
    {{{m "application.guides.engine.installation.ember.emberOverview"}}}
    {{{m "application.guides.engine.installation.ember.emberServer"}}}
  </div>

  <aside class="column small-12 medium-4 aside">
    {{{m "application.guides.engine.installation.ember.emberWindowsHeader"}}}
    {{{m "application.guides.engine.installation.ember.emberWindows"}}}
  </aside>
</section>

<hr>

{{section-navigator level=2}}
