<div class="row">
  <div class="column small-12 medium-8 small-order-2 medium-order-1 padding-left-0">
    {{{m "application.guides.engine.installation.index.toolingSummary"}}}
    {{{m "application.guides.engine.installation.index.emberSummary"}}}
    {{{m "application.guides.engine.installation.index.installSummary"}}}
  </div>
  <aside class="column small-12 medium-4 small-order-1 medium-order-2 aside padding-1 margin-bottom-1">
    {{{m "application.guides.engine.installation.index.encouragementHeader"}}}
    {{{m "application.guides.engine.installation.index.encouragement"}}}
  </aside>
</div>

<hr>

{{section-navigator level=2}}
