<div class="column small-12 medium-8 small-padding-left-0">
  {{{m "application.guides.engine.installation.index.toolingSummary"}}}
  {{{m "application.guides.engine.installation.index.emberSummary"}}}
  {{{m "application.guides.engine.installation.index.installSummary"}}}
</div>

<aside class="column small-12 medium-4 aside">
  {{{m "application.guides.engine.installation.index.encouragementHeader"}}}
  {{{m "application.guides.engine.installation.index.encouragement"}}}
</aside>

<hr>

{{section-navigator level=2}}
