<div class="row small-collapse">
  <div class="column small-12 medium-8 small-order-2 medium-order-1">
    {{{m "application.guides.engine.installation.index.emberInstallAffinityEngine"}}}
    {{{m "application.guides.engine.installation.index.toolingSummary"}}}
    {{{m "application.guides.engine.installation.index.emberSummary"}}}
    {{{m "application.guides.engine.installation.index.installSummary"}}}
  </div>
  <aside class="column small-12 medium-4 small-order-1 medium-order-2 aside">
    {{{m "application.guides.engine.installation.index.encouragementHeader"}}}
    {{{m "application.guides.engine.installation.index.encouragement"}}}
  </aside>
</div>

{{section-navigator level=2}}
